{$APP_DOMAIN} {
	encode zstd gzip
	tls {$LETSENCRYPT_EMAIL}

	handle /api/* {
		request_body {
			max_size {$UPLOAD_MAX_MB}MB
		}
		reverse_proxy backend:8000
	}

	handle {
		reverse_proxy frontend:80
	}
}
